:root{
    --bg-color:#FFFFFF;
    --primary-text-color:#272727;
    --accent-text-color:#211381;
    --white-text-color:#FFFFFF;
    --secondary-text-color:#747474;
    --animation:  500ms cubic-bezier(0.4,0,0.2,1);
    --mg-size-sm: 576px;
    --mg-size-md: 768px;
    --mg-size-lg: 992px;
    --mg-size-xl: 1200px;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
@font-face {
  font-family: "YandexSansDisplay";
  font-style: Light;
  font-weight: 300;
  font-display: swap;
  src: 
       url("/fonts/YandexSansDisplay-Light.woff2") format("woff2"),
       url("/fonts/YandexSansDisplay-Light.woff") format("woff"),
       url("/fonts/YandexSansDisplay-Light.ttf") format("ttf"),

}
@font-face {
  font-family: "YandexSansDisplay";
  font-style: Medium;
  font-weight: 500;
  font-display: swap;
  src: 
       url("/fonts/YandexSansText-Medium.woff2") format("woff2"),
       url("/fonts/YandexSansText-Medium.woff") format("woff"),
       url("/fonts/YandexSansText-Medium.ttf") format("ttf"),
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--bg-color);
  color: var(--primary-text-color);
}
a{
    text-decoration: none;
}
p,h1,h2,h3,h4,h5,h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container{
  --container-width: 100%;
  width: var(--container-width);
  margin: 0 auto;
  padding: 0 15px;
}
.header{
   padding: 12px;
  backdrop-filter: blur(4px);
  width: 100%;
}
.overlay{
  width: 100vw;
  height: 100vh;
  background-image: url('../images/mobile/hero/hero@1x.jpg');
  background-size: 100% 82%;
  background-repeat: no-repeat;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .overlay {
    background-image: url('../images/mobile/hero/hero@2x.jpg');
  }
}
.burger{
    display: flex;
    justify-content: center;
    flex-direction: column;
    left: 10px;
    height: 18px;
    width: 32px;
    cursor: pointer;
    position: relative;
    transition: all var(--animation);
    z-index: 2;
}
.burger.is-open .burger__item{
    opacity: 0;
    transition: all var(--animation);
}
.burger.is-open::before{
    top: 7px;
    transform: rotate(45deg);
    background-color: rgb(62, 114, 211);
    transition: all var(--animation);
    z-index: 2;
}
.burger.is-open::after{
    bottom: 8px;
    transform: rotate(-45deg);
    background-color: rgb(62, 114, 211);
    transition: all var(--animation);
    z-index: 2;
}
.burger::before{
top: 0;
transition: all var(--animation);
}
.burger::after{
    bottom: 0;
    transition: all var(--animation);
}
.burger__item{
    background-color: var(--white-text-color);
    height: 2px;
    width: 100%;
    transition: all var(--animation);
}
.burger::before, .burger::after{
    content: '';
    height: 2px;
    width: 100%;
    position: absolute;
    background-color: var(--white-text-color);
}
.top-wrapper{
position: fixed;
  bottom: 39px;
  right: 10px;
  z-index: 10;
  cursor: pointer;
}

.top-wrapper img {
  position: fixed;
  right: 30px;
  padding: 5px;
  border-radius: 50px;
  cursor: pointer;
  transition: all var(--animation);
  scroll-behavior: smooth;
}
  
  .top-wrapper img {
    background: rgba(169, 212, 218, 0.288);
    box-shadow: 0 0px 10px rgb(15, 15, 15), 0 5px 20px rgb(201, 211, 62);
  }
  
  .top{
      width: 25px;
  height: 25px;
  scroll-behavior: smooth;
  }
  .top:hover{
      background-color: rgb(62, 114, 211);
  }
  .header-wrapper{
      display: flex;
      justify-content: space-between;
  }
  .logo{
      width: 105px;
      height: 17px;
  }
  .menu{
      display: none;
  }
  .menu-mob__list{
    display: none;
    top: 0;
    left: 0;
}
.menu-mob__list.is-open{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 90px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);
  background-color: var(--bg-color);
  opacity: 0.9;
  z-index: 1;
}
.menu-mob__link{
        font-family: YandexSansDisplay;
        font-weight: 500;
        color: var(--accent-text-color);
        font-size: 25px;
        display: block;
        text-align: center;
        transition: text-shadow var(--animation), transform var(--animation);
    }
.menu-mob__link:hover{
        transform: scale(1.1);
        text-shadow: 3px 3px 10px rgb(96, 13, 230), -3px -3px 10px rgb(51, 255, 0);
}
.menu-mob__item:not(:last-child){
    margin-bottom: 10px;
}
@media (min-width:567px){
    .container{
        --container-width:var(--mg-size-sm);
    }
}
@media (min-width:768px){
    .container{
        --container-width:var(--mg-size-md);
    }
    .logo{
      width: 180px;
      height: 50px;
  }
  .overlay{
  width: 100vw;
  height: 100vh;
  background-image: url('../images/tablet/hero/hero@1x.png');
  background-size: 100% 82%;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .overlay {
    background-image: url('../images/tablet/hero/hero@2x.png');
  }
}
}
@media (min-width:992px){
    .container{
        --container-width:var(--mg-size-lg);
    }
}
@media (min-width:1200px){
    .container{
        --container-width:var(--mg-size-xl);
    }
    .overlay{
  width: 100vw;
  height: 100vh;
  background-image: url('../images/desktop/hero/hero@1x.png');
  background-size: 100% 82%;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .overlay {
    background-image: url('../images/desktop/hero/hero@2x.png');
  }
}
    .burger{
        display: none;
    }
    .menu{
        display: block;
    }
    .menu-mob{
        display: none;
    }
}

